

body{
    background-color: antiquewhite;
}

/* @media (width <= 400px) {
    body{
        background-color: yellowgreen;
    }
}
@media (width <= 200px) {
    body{
        background-color: black;
    }
} */

/* @media (max-width <= 400px) {
    body{
        background-color: yellowgreen;
    }
}
@media (max-width <= 200px) {
    body{
        background-color: black;
    }
} */

@media (max-width <= 400px) and (max-height <=400px){
    body{
        background-color: yellowgreen;
    }
}
@media (max-width <= 200px) and (max-height <= 200px){
    body{
        background-color: black;
    }
}