
*{
    padding: 0;
    margin: 0;
}
li{
    display: inline;

}
header{
    background-color: black;
    color: white;
    height: 70px;
}
.box1{
    height: 50vh;
    width: 50vw;
    background-color: aqua;
    margin: auto;
    position: relative;
}
.main_body .box1 p{
    text-align: center;

}
.sub_box{
    height: 100px;
    width: 200px;
    background-color: blueviolet;
    position: relative;
    /* top: 20px; */
    /* left: 50px; */
}
.sub_box2{
    height: 100px;
    width: 200px;
    background-color: rgb(253, 0, 169);
    /* position: relative; */
    position: absolute;
    bottom: 0px;
    right: 0px;
}


